@import "src/assets/styles/global_classes";
@import "src/assets/styles/variables";


.aboutUscontextContainer {
  margin-top: 56px;

}

.sections {
  display: flex;
  gap: 17px;
  background-repeat: no-repeat;
  justify-content: center;
  background-position: 94% 100%; // 1083px 100%

}

.textSection {
  width: 486px;
  height: 88px;
  margin-top: 90px;
}

.mentorsSection {
  width: 650px;
  text-align: center;

  h3 {
    @extend .fontFamily_h3
  }

}

.teamContainer {
  width: fit-content;
  display: flex;
  gap: 24px;
  position: relative;
  margin-top: 120px;
  padding-left: 23px;
}


.linesBlock {

}

.lineLeft {
  height: 160px;
  width: 221px;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  left: 127.6px;
}

.lineCenter {
  height: 160px;
  width: 221px;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  left: 323px;
}

.lineRight {
  height: 160px;
  width: 221px;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  left: 323.3px;
}

.linesBlock {
  margin-top: 10px;
}

.whiteStar {
  @extend .star_background_style;
  width: 25px;
  height: 25px;
  display: block;
  position: absolute;
  top: 94px;
  z-index: 10;
  left: 8.5px;
}

.miniStar {
  @extend .star_background_style;
  width: 11.5px;
  height: 13.15px;
  display: block;
  position: absolute;
  top: 433px;
  z-index: 10;
  left: 65.97%;
}

.midStar {
  @extend .star_background_style;
  width: 11.5px;
  height: 13.15px;
  display: block;
  position: absolute;
  top: 571px;
  z-index: 10;
  left: 73%;
}

.bigStar {
  @extend .star_background_style;
  width: 37.26px;
  height: 42.58px;
  display: block;
  position: absolute;
  top: 641PX;

  left: 83.4%;
  z-index: 10;


  &:before {
    @extend .starBlur;
    width: 398px;
    height: 398px;
    top: -291px;
    left: -82px;
  }
}