@import "src/assets/styles/global_classes";
@import "src/assets/styles/variables";

.contactUsCnt {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 180px;

  h2 {
    @extend .fontFamily_h2
  }

  p {
    @extend .fontFamily_p1
  }
}

.formContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px 312px;
  gap: 10px;
  width: 1224px;
  height: 598px;


  /* Clean 5 */

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 20px;
  z-index: 10;

  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 1px;
    border-radius: 20px;

    background: linear-gradient(152.14deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}