@import "src/assets/styles/global_classes";
@import "src/assets/styles/variables";

.contactUsCnt {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 180px;

  h2 {
    @extend .fontFamily_h2
  }

  p {
    @extend .fontFamily_p1
  }
}

.formContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px 312px;
  gap: 10px;
  width: 1224px;
  height: 598px;


  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);


  border-radius: 20px;
  z-index: 10;

  &:after {
    @extend .gradientBorder;
    z-index: -1;
    padding: 1px;
    border-radius: 20px;
  }
}