@import "src/assets/styles/global_classes";
@import "src/assets/styles/variables";

.technoContainer {

  backdrop-filter: blur(5px);
  background-repeat: no-repeat;
  background-size: cover;
  width: 181px;
  height: 230px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 14px;
  padding-top: 17px;
  justify-content: center;
  align-items: center;

  h4 {
    @extend .fontFamily_h4;
  }
}