.imageContainer {
  background-repeat: no-repeat;
 
  background-size: 100% 98.7%;
  padding: 1px;
  background-position: 0px 0px;


  img {
    position: relative;
    width: 184px;
    z-index: 10;
  }
}

.active {

  //width: 10px;

  img {
    width: auto;
    min-width: 100%;
  }
}