@import "../../assets/styles/variables";

.cutomButton {
  background: $bg-linear2-gradient;
  border-radius: 8px;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  gap: 10px;
  width: 100%;
  border: none;
  font-family: $fontFamily-Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;

  color: $bg-primary-100-color;
  cursor: pointer;

  &:hover {
    color: $bg-primary-80-color;
  }

  &:active {
    color: $color-clean-color;
  }

  &:disabled {
    color: $bg-primary-100-color;
    opacity: 0.4;
  }
}

