@import "src/assets/styles/global_classes";
@import "src/assets/styles/variables";

.vectorContainer {
  background-repeat: no-repeat;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 118px;
  height: 253px;
  background-position: right;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.vectorContainerRight {
  background-position: left;
}

.stepsBlock {
  padding: 24px;
  padding-right: 43px;
  width: 475px;
  height: 191px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;

  &:before {
    content: "";
    position: absolute;
    left: 108%;
    top: 46%;
    width: 200px;
    height: 20px;
    background-repeat: no-repeat;

    background-image: url("/static/images/lineLeft.png");
  }

  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 1px;
    border-radius: 8px;
    background: linear-gradient(152.14deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);

    -webkit-mask-composite: xor;
    mask-composite: exclude;

  }

  h4 {
    @extend .fontFamily_h4;
    margin-bottom: 16px;
  }

  h3 {
    @extend .fontFamily_h3;
    margin-top: 16px;
  }

  p {
    @extend .fontFamily_p1;
    color: #A2CBFB;
    margin-top: 16px;
    max-width: 408px;
  }
}

.stepsBlockRight {
  &:before {
    left: -24%;
    background-image: url("/static/images/lineRight.png");
  }
}

.stepsLine {

}