@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/global_classes.scss';

.title {
  background: $bg-linear2-gradient;
}

.generalText {
  @extend .fontFamily_h1
}

.headerSectionContainer {
  height: 815px;
  mix-blend-mode: normal;
  background-size: cover;
}

.sectionOne {
  display: flex;
}

.minidescCont {
  position: relative;
  width: 359px;
  margin-left: 58px;

  p {
    position: absolute;
    bottom: 38px;
  }
}

.btnContainer {
  width: 292px;
  margin-right: 24px;
}

.SectionTwo {
  align-items: center;
  position: relative;
  display: flex;
}

.miniTextContainer {
  height: 100%;

  h3 {
    position: absolute;
    bottom: -30px;
    right: -7%;

    @extend .fontFamily_h3
  }
}

.contextContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 125px;
}

.headerText {
  @extend .fontFamily_h2
}

.headerContainer {
  background: $bg-header;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

//stars

.star_1 {
  @extend .star_background_style;
  width: 14.99px;
  height: 17.13px;
  position: absolute;
  top: 0;
  left: 50.7%;
}

.star_2 {
  @extend .star_background_style;
  position: absolute;
  width: 19.39px;
  height: 22.16px;
  top: 65px;
  left: 31.7%;

  &::before {
    @extend .starBlur;
    width: 356px;
    height: 356px;
    top: -291px;
    left: -295px;
  }
}

.star_3 {
  @extend .star_background_style;
  width: 14.99px;
  height: 17.13px;
  position: absolute;
  top: 0;
  left: 63.6%;
}

.starBig {
  @extend .star_background_style;
  position: absolute;
  height: 200px;
  width: 200px;
  background-size: auto;
  top: -91px;
  left: 81.6%;

  &::before {
    @extend .starBlur;
    width: 356px;
    height: 356px;

    top: -235px;
    left: -172px;
  }
}


@media only screen and (max-width: 1400px) {
  .generalText {
    font-size: 75px;
  }
  .starBig {
    left: 65.6%;
  }
}

@media only screen and (max-width: 830px) {
  .generalText {
    font-size: 50px;
  }
  .contextContainer {
    margin-top: 300px;
  }
}