@import "./variables";

.fontFamily_p1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.fontFamily_h1 {
  font-family: 'Clash Display';
  color: $color-clean-color;
  font-style: normal;
  font-weight: 600;
  font-size: 150px;
  line-height: 120%;

}

.fontFamily_h2 {
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 120%;
}

.fontFamily_h3 {
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
}

.fontFamily_h4 {
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}

.star_background_style {
  display: block;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.starBlur {
  background-color: #2A3E84;
  filter: blur(175px);
  position: absolute;
  content: "";
  display: block;
}

.footerItem_FontFamily {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.footerItemTitle_FontFamily {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}