//colors
$base-color: #c6538c;
$border-dark: rgba($base-color, 0.88);
$bg-gradient: linear-gradient(152.14deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%);
$bg-linear2-gradient: linear-gradient(180deg, #1FF2FF 0%, #27F9E5 52.66%, #2FFFCD 100%);
$color-clean-color: #FFFFFF;
$bg-primary-80-color: #3B48D0;
$bg-primary-100-color: #0A1482;
$error-color: #FD4646;
$border-color: #636363;
$color-text-40-color: #A2CBFB;
$bg-clean-color5: rgba(255, 255, 255, 0.05);
$bg-color: #0C102D;
$bg-header: linear-gradient(180deg, rgba(12, 16, 45, 0) -4.71%, #0C102D 97.38%);
$bg-linear3: linear-gradient(90deg, rgba(21, 191, 253, 0) 8.03%, rgba(21, 191, 253, 0.7) 69.15%, rgba(156, 55, 253, 0.7) 97.95%);

//fonts
$base-font-family: "Inter";

//h
$typography-h1: 150px;
$typography-h2: 72px;
$typography-h3: 32px;
$typography-h4: 24px;

//p
$typography-p1: 16px;
$typography-p2: 14px;
